#Login
{
display: flex;
flex-direction: column;
margin: auto auto auto auto;
align-items: center;
width: 50%;
background-color: #d6c9c9;
height: 100%;

}
#Login .inputlogin
{
    margin: 0 0 10% 0;
    border-radius: 10px;
    width: 90%;
}
#Login #Imgbulk
{
    background-color: #faf4f4;
    background-image: url(https://www.bulk.com/static/version1710741134/frontend/BulkPowders/old-rebrand/default/images/logo.svg);
    width: 50%;
    background-size: 200px 100px;
    margin-top: 5%;
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat;
    height: 20%;
}
#LoginForm #ButtonLogin
{
    width: 50%;
    border-radius: 5px;
}
#Loginform
{
    display: flex;
    width: 70%;
    margin: auto auto auto auto;
flex-direction: column;
align-items: center;
justify-content: space-between;
}